<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @second, partial: "card", as: :second %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "seconds/second_thirds" %>
  </div>
</div>
