<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Firsts

    <a data-toggle="collapse" href="#third_firsts_new_form">
      Add first
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @third.firsts.each do |first| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <%= link_to first, first_path(first) %>

        <%= link_to first, method: :delete, data: { confirm: "Do you really want to delete this first" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="third_firsts_new_form">
        <%= render partial: "thirds/third_firsts_new_form" %>
      </div>
    </div>

  </ul>
</div>
