<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @third, partial: "card", as: :third %>
  </div>
</div>

  <!-- Show Page Customization starts -->
<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "thirds/third_firsts" %>
  </div>
</div>
  <!-- Show Page Customization end -->
