<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Seconds

    <a data-toggle="collapse" href="#first_seconds_new_form">
      Add second
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @first.seconds.each do |second| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <%= link_to second, second_path(second) %>

        <%= link_to second, method: :delete, data: { confirm: "Do you really want to delete this second" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="first_seconds_new_form">
        <%= render partial: "firsts/first_seconds_new_form" %>
      </div>
    </div>

  </ul>
</div>
